/*ОБЩИЕ СТИЛИ*/

html,
body {
	min-width: 1200px;
	min-height: 850px;
	margin: 0;
	padding: 0;
}

body {
	font-size: 14px;
	line-height: 21px;
	text-transform: uppercase;
	color: #333333;
	font-weight: normal;
	font-family: 'PT Sans', sans-serif;
	letter-spacing: 0px;	
	background-color: #f2f2f2;

	/*ИЗОБРАЖЕНИЕ МАКЕТА ФОНОМ*/
	/*background: #f2f2f2 url("../img/sedona-index.jpg") no-repeat 50% 0;
	background-size: 1280px auto;
	opacity: 0.7;*/

	/*background: #f2f2f2 url("../img/sedona-hotels.jpg") no-repeat 50% 0;
	background-size: 1280px auto;
	opacity: 0.7;*/
	
}

h2 {
	font-size: 30px;
	line-height: 24px;
	letter-spacing: 2px;	
	color: #000000;	
	font-weight: bold;	
}

h3 {
	font-size: 21px;
	line-height: 21px;
	letter-spacing: 2px;
	color: #000000;	
	font-weight: bold;	
}

/*ОБЩИЕ СТИЛИ ДЛЯ "ШАПКИ"*/

.container {
	width: 1200px;
	margin: 0 auto;	
	padding: 0;	
	box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.2);		
}

.header-main-menu {	
	min-height: 56px;
	width: 100%;
	margin: 0;
	background-color: #ffffff;			
	color: #000000;
	position: relative;	
}

.header-main-menu ul {
	margin: 0;
	padding: 0;	
	background-color: #ffffff;	
}

.header-main-menu li {
	float: left;	
	width: 20%;
	height: 56px;
	box-sizing: border-box;	
	font-weight: bold;	
	text-align: right;	
	margin: 0;
	padding: 1.25% 6%;
	padding-left: 32px;
	font-size: 14px;
	line-height: 26px;
	list-style-type: none;
	background-color: #ffffff;	
} 

.header-main-menu li a {
	color: inherit;
	text-decoration: none;
}

.header-main-menu li:nth-child(3),
.header-main-menu li:last-child {
	float: right;	
}

.header-main-menu a:hover {
	color: #81b3d2;
}

.header-main-menu a:active {
	color: #cacaca;	
}

.header-menu-photo {			
}

.header-logo {
	position: absolute;
	top: 0;
	left: calc(50% - 69px);	
}

.header-li-active {
	color: #766357;
}

.header-li-active:hover {
	color: #604e43;
}

.header-li-active:active {
	opacity: 0.3;
}

/*ОБЩИЕ СТИЛИ ДЛЯ "ПОДВАЛА"*/

.footer-page {
	width: 1200px;
	min-height: 120px;
	margin: 0 auto;
	background-color: #ffffff;
	position: relative;	
    z-index: 9;	
}

.footer-index {

}

.footer-page .container {
	box-shadow: none;
}

footer.footer-page {
	box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.2);
}

.footer-map {
	position: relative;
	width: 100%;
	height: 475px;			
	background: url("../img/index-footer-map.jpg") no-repeat 50% 0;
	z-index: 5;	
}

.footer-tag,
.footer-social,
.footer-copyright {
	display: inline-block;
	vertical-align: top;
}

.footer-tag {	
	width: 140px;
	min-height: 20px;
	margin-top: 47px;
	margin-left: 130px;
	font-size: 21px;
	font-weight: bold;	
}

.footer-social {	
	width: 160px;
	min-height: 48px;
	margin-top: 35px;
	margin-left: 250px;		
}

.social-btn {
	display: inline-block;
	width: 46px;
	height: 48px;
	margin-right: 6px;
	background-color: #81b3d2;
	background: #81b3d2 url("../img/spritesheet.png") no-repeat;	
	position: relative;
	z-index: 10;
}

.social-btn::after {
	content: "";
	position: relative;
	top: 8px;
	left: 8px;
	display: block;
	width: 30px;
	height: 30px;
	background: none;
	z-index: 5;
}

.social-btn-tw {
	background-position: 5px 6px;	
}

.social-btn-fb {
	background-position: -30px 3px;	
}

.social-btn-ytb {
	background-position: -64px 5px;
}

.social-btn-tw:hover,
.social-btn-fb:hover,
.social-btn-ytb:hover {
	background-color: #669ec0;
}

.social-btn-tw:active,
.social-btn-fb:active,
.social-btn-ytb:active {
	background-color: #5496bd;
}

.social-btn-tw:active::after,
.social-btn-fb:active::after,
.social-btn-ytb:active::after {
	background: #5496bd;
	opacity: 0.3;	
}

.footer-copyright {
	width: 220px;
	min-height: 40px;
	margin-top: 40px;
	margin-left: 215px;	
}

.footer-html-academy {
	display: inline-block;
	vertical-align: middle;
	width: 120px;
	height: 40px;
	padding-left: 8px;
	background: url("../img/footer-logo-ha.png") no-repeat;
	background-position: 50% 50%;
}

.footer-html-academy:hover {
	background: url("../img/footer-logo-ha-hover.png") no-repeat;
	background-position: 50% 50%;
}

.footer-copyright a:active {
	background: url("../img/footer-logo-ha.png") no-repeat;
	background-position: 50% 50%;
	opacity: 0.3;
}

/*СТИЛИ ДЛЯ ГЛАВНОЙ СТРАНИЦЫ*/

.main-background {
	width: 100%;
	height: 508px;
	background: url("../img/index-main-background.jpg") no-repeat 50% -56px;
	background-size: 1200px auto;
}

.intro {
	width: 1200px;
	min-height: 216px;
	padding-left: auto;
	padding-right: auto;
	padding-top: 3px;	
	background: #ffffff;
	box-sizing: border-box;
}

.intro b {
	display: block;
	width: 500px;
	min-height: 50px;
	margin: 0 auto;
	margin-left: 333px;
	margin-top: 57px;
	font-size: 21px;
	line-height: 26px;
	letter-spacing: 1px;
	padding-left: 15px;
	text-align: center;
}

.intro p {
	width: 550px;
	min-height: 14px;
	margin: 0 auto;
	margin-top: 27px;
	font-size: 14px;
	line-height: 26px;
	text-align: center;			
}

section {
	font-size: 0;
}

section h3 {
	font-size: 21px;
	line-height: 21px;		
	font-weight: bold;
	margin-left: 20px;
}

section span {
	font-size: 14px;
	line-height: 21px;	
}

section p {
	font-size: 14px;
	line-height: 21px;
}

section div {
	height: 256px;
	width: 400px;
	display: inline-block;
	box-sizing: border-box;
	vertical-align: top;
	background: #ffffff;	
}

.index-image {
	width: 800px;
}

.reasons {
	padding-top: 35px;
	text-align: center;
}

.reasons p {
	width: 300px;
	margin: 0 auto;	
}

section .reasons-style1 {
	background: #81b3d2;
	color: #ffffff;
	text-align: center;	
}

.reasons-style1 h3 {
	color: #ffffff;
}

.reasons-style1 p {
	padding-top: 0;
}

section .reasons-style2 {
	background: #eeeeee;
	text-align: center;
	padding-top: 25px; 
}

.reasons-style2 h3 {
	margin-left: 5px;
}

.reasons-style2 p {
	padding-top: 0;
	margin-top: 0;
}

.reasons-style1 span {
	display: block;
	padding-top: 3px;
}

.reasons-style2 span {
	display: block;
	padding-top: 3px;
}

.number-reason-1-2,
.number-reason-3-4-5 {
	position: relative;	
	background: inherit;
	margin: 0 auto;
	margin-bottom: 25px;
	font-size: 14px;
	width: 100px;
	height: 20px;
}

.number-reason-1-2::before,
.number-reason-3-4-5::before,
.number-reason-1-2::after,
.number-reason-3-4-5::after {
	content: "";
	position: absolute;
	top: 50%;
	left: 28%;
	display: block;
	width: 9px;
	height: 2px;
	background: #ffffff;
}

.number-reason-3-4-5::before {
	background: #979797;
}

.number-reason-1-2::after {
	left: 62%;
}

.number-reason-3-4-5::after {
	background: #979797;
	left: 62%;
}

section .service {
	height: 330px;
	padding-top: 140px;	
	text-align: center;
	background-color: #ffffff;
}

.service h3 {
	margin-left: 0;
}

.service p {
	padding-top: 5px;
	width: 300px;
	margin: 0 auto;
}

.service-hotels {
	background: url("../img/index-main-img-bg1.png") no-repeat 50% 23%;
}

.service-food {
	background: url("../img/index-main-img-bg2.png") no-repeat 50% 23%;
}

.service-souvenirs {
	background: url("../img/index-main-img-bg3.png") no-repeat 50% 22%;
}

.date-tour {
	position: relative;
	width: 100%;
	height: 245px;
	padding-top: 46px;
	background: #ffffff;
	z-index: 10;
}

.date-tour h2 {
	width: 350px;
	margin: 0 auto;
	min-height: 30px;
	padding: 10px;	
	color: #000000;
	text-align: center;
	letter-spacing: 0;
}

.date-tour p {
	width: 500px;
	margin: 0 auto;
	margin-top: 15px;
	min-height: 40px;	
	line-height: 24px;	
	color: #333333;
	text-align: center;
}

section .button-hotels {
	display: block;
	width: 568px;
	height: 87px;
	margin: 0 auto;
	margin-top: 45px;
	padding-top: 30px;	
	text-align: center;
	background-color: #766357;
	font-size: 21px;
	line-height: 26px;
	box-sizing: border-box;
	text-transform: uppercase;	
	color: #ffffff;	
}

.date-tour a {
	text-decoration: none;
}

.form-index {
	width: 570px;
	min-height: 395px;
	margin: 0 auto;
	padding-left: 55px;
	padding-right: 55px;
	box-sizing: border-box;	
	background: #ffffff;
	padding-top: 1px;	
	box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.2);
	color: #000000;
	/*display: none;*/
}

input,
textarea,
button {
	outline: none;
	border: none;	
}

.date-form1 {
	width: 460px;
	height: 38px;
	margin: 0 auto;	
	font-size: 14px;
	font-weight: bold;		
}

.date-form1 label {
	padding-top: 8px;	
	display: inline-block;
	box-sizing: border-box;
	font-weight: bold;
}

.date-form1 input {
	display: inline-block;
}

.date-form2 {
	width: 460px;
	height: 38px;
	margin-top: 30px;	
	margin-bottom: 10px;
	margin-bottom: 55px;
}

.date-form2 label {
	padding-top: 10px;
	display: inline-block;
	box-sizing: border-box;
	font-weight: bold;
} 

.date {
	display: block;
	float: right;
	width: 345px;
	min-height: 38px;
	margin: 0 auto;	

}

.date-form1 {
	position: relative;	
}

.date-form1 input[type="text"] {
	background: #f2f2f2;
}

.date-form1 input[type="text"]:hover {
	background: #ebebeb;
}

.date-form1 input[type="text"]:active {
	background: #ffffff;
	outline: 2px solid #e5e5e5;
}

.calendar {
	position: absolute;
	width: 25px;
	height: 25px;
	top: 17%;
	left: 93%;
	background: url("../img/spritesheet.png") no-repeat;
	background-position: -115px -9px;
	opacity: 0.3;	
	cursor: pointer;
}

.calendar:hover {
	opacity: 1;
}

.calendar:active {
	background: url("../img/spritesheet.png") no-repeat;
	background-position: -156px -9px;
}

.date-form1 input[type="text"] {
	font-size: 14px;
	font-weight: bold;
	padding-left: 12px;
	box-sizing: border-box;
}

.date-in {
	margin-top: 55px;
}

.date-out {
	margin-top: 30px;	
}

.date-form2 label {
	font-size: 14px;
	font-weight: bold;	
}

.date-form2 input[type="text"] {
	font-size: 14px;
	font-weight: bold;		
}

.adults {
	width: 80px;
}

.children {	
	width: 45px;
	padding-left: 10px;
}

.container-form-box {	
	width: 122px;
	height: 38px;	
	position: relative;
	font-size: 0;
	text-align: center;
}

.box1 {		
	margin-left: 35px;
	margin-right: 40px;	
}

.box2 {		
	float: right;
	margin-right: 0;	
	padding-left: 8px;	
}

.button,
.amount {
	vertical-align: top;
}

.amount {	
	width: 38px;
	height: 36px;
	background: #f2f2f2;
	text-align: center;	
	display: inline-block;
}

.button {	
	width: 38px;
	height: 38px;	
	background: #f2f2f2;
	display: inline-block;
	cursor: pointer;
}

.btn-minus {	
	background: #f2f2f2 url("../img/spritesheet.png") no-repeat;
	background-position: -315px 6px; 	
}

.btn-minus:hover {
	background: #f2f2f2 url("../img/spritesheet.png") no-repeat;
	background-position: -189px 6px;
}

.btn-minus:active {
	background: #f2f2f2 url("../img/spritesheet.png") no-repeat;
	background-position: -252px 6px;
}

.btn-plus {	
	background: #f2f2f2 url("../img/spritesheet.png") no-repeat;
	background-position: -347px 2px;
}

.btn-plus:hover {
	background: #f2f2f2 url("../img/spritesheet.png") no-repeat;
	background-position: -221px 2px;
}

.btn-plus:active {
	background: #f2f2f2 url("../img/spritesheet.png") no-repeat;
	background-position: -284px 2px;
}

.button-search {
	width: 459px;
	height: 57px;
	margin: 0 auto;	
	margin-top: -3px;	
	font-size: 21px;
	line-height: 26px;
	color: #ffffff;
	background: #81b3d2;
	text-transform: uppercase;
	cursor: pointer;
}

.button-search:hover {
	background: #669ec0;
}

.button-search:active {
	background: #5496bd;
	color: #88b6d1;
}

/*СТИЛИ ДЛЯ ВНУТРЕННЕЙ СТРАНИЦЫ (ГОСТИНИЦЫ)*/

.form-hotels {
	width: 100%;
	min-height: 217px;
	margin: 0;	
	background: #4a779f url("../img/hotels-filter background.jpg") 50% 0;	
	background-size: 1200px 562px;
	font-size: 16px;
	line-height: 21px;
	color: #ffffff;
}

.column {
	width: 245px;
	box-sizing: border-box;		
}

.column p {
	padding-top: 13px;	
	font-weight: bold;
}

.column-left {
	float: left;
	padding-left: 72px;
}

.column-left input,
.column-center input {
	cursor: pointer;
}

.column-center {
	float: left;
	padding-left: 80px;
}

input[type="checkbox"] {
	display: none;
}

input[type="checkbox"] + label {
	position: relative;
	display: block;
	width: auto;	
	padding: 3px;
	padding-left: 40px;
	cursor: pointer;
}

input[type="checkbox"] + label::before {
	content: "";
	display: block;
	position: absolute;
	top: 3px;
	left: 0;
	width: 27px;
	height: 25px;
	background: url("../img/spritesheet.png") no-repeat;
	background-position: -389px -9px;
}

input[type="checkbox"]:checked + label::after {
	content: "";
	display: block;
	position: absolute;
	top: 3px;
	left: 0;
	width: 27px;
	height: 25px;
	background: url("../img/spritesheet.png") no-repeat;
	background-position: -431px -9px;
}

.column-right {
	float: right;
	width: 400px;
}

.column-right p {
	margin-left: 0;
	padding-left: 0;
}

.column-right input {
	margin-top: 2px;
	width: 50px;
	height: 24px;
	font-size: 14px;
	color: #ffffff;	
	background: none;
	text-align: left;	
}

.column-right label {
	font-size: 14px;
	text-align: center;
}

.price-from-to {
	position: relative;
	width: 318px;
	height: 35px;
	margin-left: 10px;	
	margin-bottom: 20px;	
	border-radius: 2px;	
	padding-top: 2px;
	text-align: center;	
	border: 2px solid #ffffff;
	box-sizing: border-box;	
}

.price-from-to::after {
	content: "";
	display: block;
	position: absolute;
	top: 15%;
	left: 50%;
	width: 2px;
	height: 22px;
	background: #ffffff;
}

.column-right p {
	margin-bottom: 9px;
}

.price-from {
	margin-left: 35px;	
}

.price-to {
	margin-left: 70px;	
}

.range-controls {
	position: relative;
	margin-left: 10px;
	width: 318px;
	height: 10px;
}

.scale {	
	
	width: 100%;
	height: 2px;
	background: #867c7c;	
	cursor: pointer;
}

.bar {
	width: 80%;
	height: 2px;
	background: #ffffff;
}

.toddler {
	display: inline-block;
	position: absolute;
	top: -9px;
	width: 4px;
	height: 4px;
	background: #ababab;
	border: 8px solid #ffffff;
	border-radius: 50%;
	box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
    cursor: pointer;	
}

.toddler-min {
	left: 0;
}

.toddler-min {
	left: 80%;
}

.toddler:hover {
	background: #1c4f80;
}

.column-right button {
	display: block;
	width: 137px;
	height: 36px;
	margin: 0;
	margin-top: 25px;
	margin-left: 95px;		
	border-radius: 2px;
	color: #ffffff;
	text-transform: uppercase;
	border: 2px solid #ffffff;
	background: none;
	cursor: pointer;
}

.column-right button:hover {
	background-color: #ffffff;
	color: #000000;	
}

.results {
	width: 100%;
	height: 88px;
	background: #ffffff;
	padding-top: 20px;
	box-sizing: border-box;
	border-bottom: 1px solid #e5e5e5;	
}

.found {
	display: inline-block;
	margin-left: 70px;
	
	font-size: 21px;
	line-height: 26px;	
	font-weight: bold;
}

.separation {
	display: inline-block;
	margin-left: 50px;
	
	font-size: 12px;
	line-height: 18px;	
}

.results ul {
	display: inline-block;
}

.results li {
	display: inline-block;	
	margin-top: 20px;	
	margin-right: 20px;	
}

.results li button {
	padding: 0;
	margin-left: 0px;
	margin-right: 6px;
	background-color: #ffffff;	
	font-size: 12px;
	line-height: 12px;	
	color: #cacaca;
	text-transform: uppercase;
	border-bottom: 1px dotted #81b3d2;	
	cursor: pointer;	
}

.results li button:hover {
	opacity: 1;
	color: #81b3d2;
}

.results li button:active {
	opacity: 1;
	color: #000000;
	border-bottom: none;	
}

.results .separation-active {
	color: #81b3d2;
	border-bottom: none;
}

.results .separation-active:active {
	color: #81b3d2;
}

.button-up-down {
	float: right;
	width: 15px;
	height: 15px;
	margin-top: 20px;
	margin-right: 5px;	
	opacity: 0.3;	
	background: url("../img/spritesheet.png") no-repeat;	 
	cursor: pointer;
}

.down {
	margin-right: 72px;
	background-position: -566px -10px;
	opacity: 1;
}

.up {	
	background-position: -476px -10px;
}

.down:hover,
.up:hover {
	opacity: 1;
}

/*.down:active {
	background-position: -42px 0;
	opacity: 1;
}*/

.up:active {
	background-position: -538px -10px;
	opacity: 1;
}

.section-hotels {
	width: 100%;
	height: 150px;
	border-bottom: 1px solid #e5e5e5;
	background: #ffffff;
}

.section-hotels img {
	float: left;
	margin: 29px 0;
	margin-left: 72px;
}

.catalog-item {
	width: 963px;
	height: 90px;
	float: right;
	margin-right: 0px;
	box-sizing: border-box;
	margin-top: 30px;
	padding-left: 0;
	padding-right: 74px;		
}

.catalog-item h3 {
	width: 50%;
	margin-top: -4px;	
	margin-bottom: 10px;
	margin-left: 0;	
	letter-spacing: 0;
}

.catalog-item h3 a {
	color: inherit;
	text-decoration: none;
}

.catalog-item h3 a:hover {
	color: #81b3d2;
}

.catalog-item h3 a:active {
	opacity: 0.3;
}

.catalog-item span {
	display: inline-block;
	width: 100px;	
	margin-right: 16px;	
}

.btn-about, .btn-reserve {
	display: inline-block;
	box-sizing: border-box;
	width: 110px;
	height: 27px;
	margin-top: 9px;
	padding-top: 3px;
	text-align: center;	
	text-decoration: none;	
	background: #81b3d2;
	font-size: 14px;
	color: #ffffff;
}

.btn-reserve {
	width: 142px;
	background: #766357;
	margin-left: 6px;
}

.btn-about:hover {
	background: #669ec0;
}

.btn-about:active {
	background: #5496bd;
	color: #88b6d1;
}

.btn-reserve:hover {
	background: #604e43;
}

.btn-reserve:active {
	background: #503e33;
	color: #857871;
}

.catalog-item .rating {	
	margin-top: 8px;
	margin-right: 0px;	
	padding-left: 15px;
	padding-top: 3px;
	position: relative;
	float: right;
	box-sizing: border-box;	
	width: 110px;
	height: 26px;	
	background: #f2f2f2;
	color: #666666;				
}

.catalog-item .rating::before {
	content: "";	
	display: block;
	position: absolute;
	top: -62px;
	right: -3px;
	width: 96px;
	height: 25px;
	background: url("../img/hotels-star.png") repeat-x;	
}

.catalog-item .rating-2star::before {
	width: 48px;
}

.catalog-item .rating-3star::before {
	width: 72px;
}